.App-header {
  background-color: #287046;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2.5rem;
  color: white;
}

.tabs{
  padding-top: .3rem;
}

.tab-list {  
  border-bottom: 1px solid rgb(19, 18, 18);
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  padding: 0.5rem 0.75rem;
  width: 10rem;
}

.tab-list-item:hover {
  cursor: pointer;
}

.tab-list-active {
  background-color: rgb(143, 138, 138);
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.icon-btn{
  font-size: large;
}
.icon-btn:hover{
  cursor: pointer;
  font-weight: bold;
}

.btn{
  background-color: rgb(143, 138, 138);
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.btn:hover{
  cursor: pointer;
}

table tr td{
  text-align: center;
}